<div class="jumbotron">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">Blank Rails 6/Bootstrap 4 app
    Including a basic default bootstrap navbar.</p>
  <p class="small">Bundled with <%= link_to('High Voltage', 'https://github.com/thoughtbot/high_voltage') %> for easy static page generation and <%= link_to('Bootswatch', 'https://bootswatch.com/') %> for flexible look and feel</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to('Rails 6', 'https://guides.rubyonrails.org/getting_started.html') %>
    |
    <%= link_to('Bootstrap 4', 'https://getbootstrap.com/docs/4.0/getting-started/introduction/') %>
  </p>
</div>